.empty-state-box {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-wizard-layout {
  padding: 1rem 1.5rem 0;

  .select-roles-content {
    height: 530px;
    overflow: auto;
  }

  .permission {
    margin: 3px;
  }

  .preview-roles {
    margin-top: 20px;

    .permissions {
      margin: 10px 0;
    }
  }

  .filter {
    width: 250px;
  }

  .selected-roles-list {
    overflow-x: auto;
  }

  .no-filter-data {
    display: flex;
    justify-content: center;
    height: 400px;
  }
}

.loading-wizard {
  display: flex;
  align-items: center;
}

.no-data {
  display: flex;
  justify-content: center;
  min-height: 590px;
}
