{
  "prefix": "/api/automation-hub/",
  "username": "admin",
  "password": "admin",
  "settings": "../../galaxy_ng/galaxy_ng/app/settings.py",
  "restart": "true",
  "containers": "localhost:5001",
  "galaxykit": "galaxykit --ignore-certs"
}
