// Standalone
{
  "apiPrefix": "/api/galaxy/",
  "uiPrefix": "/ui/",
  "username": "admin",
  "password": "admin",
  "containers": "localhost:5001",
  "galaxykit": "galaxykit --ignore-certs"
}

// Community
{
  "apiPrefix": "/api/",
  "uiPrefix": "/ui/",
  "username": "admin",
  "password": "admin",
  "galaxykit": "galaxykit --ignore-certs"
}
