.hub-c-card-list-switcher {
  .hub-icon {
    margin-left: 8px;
    color: var(--pf-global--icon--Color--light);

    &:hover {
      color: var(--pf-global--link--Color--dark);
    }
  }

  .hub-selected {
    color: var(--pf-global--link--Color--dark);
  }
}
