@import '../../global-variables.scss';

$image-height: 50px;

.image-container {
    width: 50px;
    height: $image-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: contain;
    padding-right: 10px;
    max-height: $image-height;
}

.title-box {
    display: flex;
    align-items: center;
}

.column-section {
    display: flex;
    justify-content: space-between;

    .header-right {
        align-items: right;
    }
}

.background {
    background-color: white;
    padding: 0px 24px 0px 24px;
}

.placeholder {
    height: 24px;
}

.breadcrumb-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom {
    padding-top: 10px;
}

.tab-link-container {
    display: flex;
    margin-top: 10px;
    @media (max-width: $breakpoint-md) {
        flex-direction: column-reverse;
    }

    .tabs {
        flex-grow: 0;
    }

    .links {
        @media (min-width: $breakpoint-md) {
            justify-content: flex-end;
        }
        @media (max-width: $breakpoint-md) {
            margin-bottom: 10px;
        }

        flex-grow: 1;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        div {
            @media (min-width: $breakpoint-md) {
                margin-left: 20px;
            }

            @media (max-width: $breakpoint-md) {
                margin-right: 20px;
            }
        }
    }
}
