.hub-task-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pf-c-toolbar__content {
    padding-left: 0;
  }
}
.hub-c-task-status {
  margin-left: 10px;
}
.hub-code-block {
  white-space: pre-wrap;
}
