version: 2
updates:
  # npm in /

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-loader"
      lingui:
        patterns:
          - "@lingui/*"
      react:
        patterns:
          - "react"
          - "react-dom"

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.9'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.9] '
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-core"
          - "babel-loader"
      lingui:
        patterns:
          - "@lingui/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
    ignore:
      - dependency-name: '@lingui/*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@patternfly/*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/*'
        update-types: ['version-update:semver-major']
      - dependency-name: 'react'
        update-types: ['version-update:semver-major']
      - dependency-name: 'react-dom'
        update-types: ['version-update:semver-major']

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.6'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.6] '
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-core"
          - "babel-loader"
      lingui:
        patterns:
          - "@lingui/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
    ignore:
      - dependency-name: '@lingui/*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@patternfly/*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/*'
        update-types: ['version-update:semver-major']
      - dependency-name: 'react'
        update-types: ['version-update:semver-major']
      - dependency-name: 'react-dom'
        update-types: ['version-update:semver-major']

  # npm in test/

  - package-ecosystem: 'npm'
    directory: '/test'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/test'
    target-branch: 'stable-4.9'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.9] '

  - package-ecosystem: 'npm'
    directory: '/test'
    target-branch: 'stable-4.6'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.6] '

  # github-actions

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.9'
    commit-message:
      prefix: '[stable-4.9] '
    schedule:
      interval: "monthly"

  - package-ecosystem: 'github-actions'
    directory: '/'
    target-branch: 'stable-4.6'
    commit-message:
      prefix: '[stable-4.6] '
    schedule:
      interval: 'monthly'
