version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/test'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.7'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: '[stable-4.7] '
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.6'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: '[stable-4.6] '
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.5'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.5] '
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.4'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.4] '
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'stable-4.2'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: '[stable-4.2] '
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.7'
    commit-message:
      prefix: '[stable-4.7] '
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.6'
    commit-message:
      prefix: '[stable-4.6] '
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.5'
    commit-message:
      prefix: '[stable-4.5] '
    schedule:
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.4'
    commit-message:
      prefix: '[stable-4.4] '
    schedule:
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: 'stable-4.2'
    commit-message:
      prefix: '[stable-4.2] '
    schedule:
      interval: "monthly"
