{
  env: {
    "browser": true,
    "node": true,
    "es2021": true,
  },
  parser: "@typescript-eslint/parser",
  settings: {
    "react": {
      "version": "detect",
    },
  },
  extends: [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic",
    "prettier",
  ],
  parserOptions: {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  rules: {
    "curly": ["error", "all"],
    "eol-last": ["error", "always"],
    "@typescript-eslint/no-unused-vars": ["error", { argsIgnorePattern: "^_" }],
    "no-restricted-imports": ["error", {
      "paths": [{
        "importNames": [
          "ChipGroup",
          "ClipboardCopy",
          "ClipboardCopyButton",
          "FileUpload",
          "LabelGroup",
          "LoginForm",
          "Pagination",
          "Tooltip",
        ],
        "message": "Import from src/components instead.",
        "name": "@patternfly/react-core",
      }],
    }],
  },
}
// set vim:ft=javascript
