# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode config
.vscode/

# ide config
.idea/

# dependencies
node_modules

# production
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
coverage
