# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode config
.vscode/

# ide config
.idea/

# vim swap
.*.sw[po]

# dependencies
node_modules

# production
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
coverage

# testing
test/cypress/screenshots/*
test/cypress/videos/*
test/cypress.env.json
test/results
test/fixtures/*
