language: node_js
sudo: required
notifications:
  email: false
  slack:
    rooms:
      - secure: juuizlfiQolXbqy4L2nfODB1K8xiSGvUrzsT3XeXIsQqX7yCYVvnRUssKLbqgLM9m85kgXJk1ef0qwjJoliNqGcrALTZLHPTkxWwTnV7tPEVS/4uQPSyy+DDHDwrTzCrF3qhCqyKJ6vB18z22qm3qLgStmNj4p1ZLznsdJR/u7U3spJ+WLL70QSNHCQy/5QjRDDiR3oqWdXjhVcUCeV+v/2CtfqK3dqYtzCL/b7z8lm/YbV6w1Rd8mwzTgLstbzjrvR/gq2IPALzzJTq1S8lXtV7ZtbYz4bjB8RNCRZFJrjBUH4CqD1oUskit4RRe+ilVs8qNQh0Tt3whsOdbJoRXJn2B/NVxppp2WGlODdsuMgfNh5iBocHKN3Qo4mONbstnHFG99Hr7L8GbUugJHEQlrZn1xRyO9ulyVp+hFp8/F088NNyhnd3+lERUPA5/4+HPQh6Ea+PyKq2TR41VoDGcRDBS4VY/6PfLEJzxEBjwRAAemfvtOFTUu2EocuAllPX1vMA4b1j7Wm+Bs7wft6nEcVdftVanfAgx4dNksnaS8zN9II8rdtBci2yXYJ6J+e+REDn/2IrHaUwr0N9BojYc0ePUElDcygW4Kk1oGklHp681j2zhi1Gt7rbuae1C9fD4QHnryx59uVH5NXqDsXI5EbwTJE3zvzRz9SzmyDqV5A=
node_js:
- '10'
install:
- npm ci
jobs:
  include:
  - stage: Deploy cloud.redhat.com
    script: npm run deploy && curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
    if: tag IS blank
  - stage: Standalone release
    if: tag IS NOT blank
    before_deploy:
      - npm run build-standalone
      - tar -C dist/ -czvf automation-hub-ui-dist.tar.gz .
    deploy:
      provider: releases
      file: automation-hub-ui-dist.tar.gz
      skip_cleanup: true
      api_key:
        secure: "on9iBXtLJjI3x9toeGgpDzCvXQhQKnh2P8KA2CS96rKU2iln1d4Um097YlQAAMcQs9sD+VMW/DCeCvpSsvNQ3pvBK6hLfZC2IIK01BtlJwepb22cX/hl228lKMMwMJCyxT6Nb8oteCYkiImQbnJrqNZf8pfQMs5zF8iyPm2AV3iVh6CPcSpbc4/JmJpTJ8QWoFdPGGmLurvJf64Y1F5L3zUPPDc8571xU5DtjZtrgVBuZVdPsDb0WcBOj0AoPXFQHqz38G11cc7jf+laBdeCxTX2++u94G7aCqfvE0aE6HdeJDunijJamp/JrfM0khO+n4VxMrwa055wI1da7whNCouO9Jmj8XKjcLWmWP2kKLpg1ViZXOtWQ8GyQ6gozLsROYO8CCgVZu5kDlg9ra8ZLZ/rgvH25wO5/QKoXtBZHplekASiT4sDJ5JmmQ0OSQUHLOB7UVbJKHAJkybQ5qv7K7Ifhs67bUkWZbu6w0FXVaMJ0irZOu8zXFDx5lsk2kn+fFXrEOr2kBgHHf5lz/p49Qks4We44dXSv6eJRTJfOrh/vd97UywaElEGH7iEzTPrSsdAp25QjJRG3OXPHJytiJvrfA7hv3dK6hhwr2tSGzNyglTF1git47gt9qbaFSOcro32w6omln/68k699gcUIJbkUzxo6aM0Ygo5FaOwBFY="
      on:
        tags: true
  - stage: Generate package manifest
    script: .travis/update_manifest.sh
    env:
      - secure: "pZJDu157GR7K8Xn7u9CyUQK9RBDKxsnOE3BrJvpkaAV2ih0L3Sf+DFCDK/J4tXbfqWreGs9QXTVuzYcFzELLr9zrqY4kg1wh0yxnRzs20dfd1ovT4clyyTeSybBI0h3muvRZpsQoN1emVxBy2m/daY9JAtngGb2RZT4s5akTMOk4oDlPD/CV37cOpfo/U69E5J5YFvuZmasxiHTUu7Tg1fvfginR4fyDzT9xlhmO9+xi7bONEY83Gohhp+9+rZqMZjtY2pZ8BSnsa2DP2L3gOAit6Il430EYg5T/L+jY/ec/TxxY6gODT+e8hCnvqizrjTGVdkjzTTmVX2PUB5X3sJvGePbtRc1XgLjEmeDk0js6vNp2D8lnQVoZiC7Ooovjn/OhrLmlEQcItEvOs9nXYvxD9S9i5zlsUpO/d0fwj6+Ls64yQgHC3XtRqPJAVBfd8C4m8KHrBVri0VLpOvHlZcSAianIKA28Nv0EvdapppAvsPptn5rSxdhxgIGtRmOlbsePcUqx5cgqvAz1Wc2mHVxFQ9VOKfDUE91legOGuOwDTCfIBCDd2S9cevCv2u/QgWWdwp6W1p63B7kIe/CzSpWMkRvwFpLiOPPjiqfo//5fsjaxht9fSMKoSb8Qvdld6YnhHmXpu2gdMtXM6BW5aGmA1y/DJZV/UZEER4Lavko="
env:
  global:
  - REPO="git@github.com:RedHatInsights/ansible-hub-ui-build.git"
  - REPO_DIR="ansible-hub-ui-build"
  - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - NODE_OPTIONS="--max-old-space-size=4096 --max_old_space_size=4096"
