.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layers-max-width {
  max-width: 45%;
  word-wrap: break-word;
}

.copy-sha {
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}
