.clipboard-hide-input > .pf-c-clipboard-copy__group > input {
  display: none;
}
.clipboard-inline {
  display: inline-block;
}

.single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layers-max-width {
  max-width: 45%;
}
