.card-layout {
    display: flex;
    flex-wrap: wrap;

    .card-wrapper {
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

.toolbar {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
