@import '../../global-variables.scss';

.docs-container {
    @media (min-width: $breakpoint-md) {
        display: flex;
    }

    .sidebar {
        margin: 0px 24px 0px -24px;
        min-width: 290px;
        max-width: 290px;
    }

    .docs {
        flex-grow: 1;
    }
}
