.body .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification-dasboard {
  .footer {
    padding-top: 16px;
  }

  .updating-spinner {
    color: var(--pf-global--info-color--100);
  }
}
