.toolbar {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.certified-icon {
    color: var(--pf-global--success-color--100);
}

.rejected-icon {
    color: var(--pf-global--danger-color--100);
}

.needs-review-icon {
    color: var(--pf-global--info-color--100);
}

.control-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
