.hub-doc-blue {
  color: var(--pf-v5-global--info-color--100);
}

.hub-doc-red {
  color: var(--pf-v5-global--danger-color--100);
}

.hub-doc-green {
  color: var(--pf-v5-global--success-color--200);
}

.hub-doc-option-name {
  font-weight: bold;
}

.hub-doc-plugin-config {
  margin-bottom: 16px;
}

.hub-doc-plugin-raw {
  white-space: pre-wrap;
}

.hub-doc-inline-code {
  background-color: #e6e9e9;
  font-family: var(--pf-v5-global--FontFamily--monospace);
  display: inline-block;
  border-radius: 2px;
  padding: 0 2px;
}
