.install-title {
  min-width: 100px;
  vertical-align: middle;
  display: table-cell;
}

.readme-container {
  position: relative;
  max-height: 300px;
  min-height: 50px;
  overflow: hidden;
}

.fade-out {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 100%;
  height: 50px;
}

.download-button {
  padding-left: 0px;
}

.info-panel {
  padding: 8px;
}
.pf-c-alert.pf-m-inline.pf-m-warning > h4 {
  margin-top: 0px;
}
