.options-table {
    td,
    th {
        border: 1px solid black;
        padding: 5px;
        vertical-align: top;
    }
    ul {
        margin-top: 0px;
    }

    small {
        margin-bottom: 0px;
    }
    width: 100%;

    .spacer {
        width: 20px;
        border-top: 0px;
        border-bottom: 0px;
    }

    .parent {
        border-bottom: 0px;
    }
}

.blue {
    color: var(--pf-global--info-color--100);
}

.red {
    color: var(--pf-global--danger-color--100);
}

.green {
    color: var(--pf-global--success-color--200);
}

.option-name {
    font-weight: bold;
}

.plugin-config {
    margin-bottom: 16px;
}

.plugin-raw {
    white-space: pre-wrap;
}

.inline-code {
    background-color: #e6e9e9;
    font-family: var(--pf-global--FontFamily--monospace);
    display: inline-block;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
}
