//FIXME
.hub-container-list-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pf-c-toolbar__content {
    padding-left: 0;
  }
}

.delete-container-modal-message {
  padding-bottom: var(--pf-global--spacer--md);
}
