$breakpoint-lg: 1300px;
$breakpoint-md: 1000px;
$breakpoint-sm: 700px;
$white: #fff;
$warning: #f90;
$red: #ff5850;
$red-hover: #ae3f3a;
$green: #5bb75b;
$blue: #00659c; /* logo blue */
$blue-link: #0088ce;
$grey: #9c9c9c;
$charcoal: #808080;
$well: #f5f5f5; /* well background color */
$emphasis: #ccc;
$green: #5bb75b;
$info: #d9edf7; /* alert info background color */
$info-border: #bce8f1; /* alert info border color */
$info-color: #3a87ad;
$black: #363636;
