.toolbar-wrapper {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pagination-container {
      display: flex;
      align-items: center;
    }
  }
}
