.entry {
  margin-top: 5px;
}

.right-col {
  width: 200px;
}

.content {
  text-transform: capitalize;
}

.hub-numeric-label-capitalize-text {
  font-size: var(--pf-global--FontSize--xs);
  color: var(--pf-global--color--200);
  text-transform: capitalize;
}
