.controls {
    display: flex;
    justify-content: space-between;

    // padding-left: 24px;
    // padding-right: 24px;
}
.top {
    padding-top: 0px;
    padding-bottom: 10px;
}

.bottom {
    padding-top: 10px;
    padding-bottom: 0px;
}
