// FIXME dead or missed in hub-namespace-page-controls rename?
.controls {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

// FIXME global
.top {
  padding-top: 0;
  padding-bottom: 16px;
}

// FIXME global
.bottom {
  padding-top: 16px;
  padding-bottom: 0;
}
