name: "Disable automatic stage-stable deploy on push to main"

on:
  workflow_dispatch: # allow running manually

jobs:
  cloud:
    runs-on: ubuntu-latest
    steps:

    - name: "Checkout ansible-hub-ui main"
      uses: actions/checkout@v3
      with:
        ref: 'main'

    - name: "Disable, push to main"
      run: |
        git config --global user.name 'GH Actions'
        git config --global user.email 'gh_actions@users.noreply.github.com'

        git rm -f .cloud-stage-cron.enabled

        git commit -m 'Disable cloud stage cron deploy '`date --iso=d`
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/ansible/ansible-hub-ui.git
        git push origin HEAD:main
