name: "PR checks"

on:
  pull_request:
    branches: [ 'master', 'stable-*' ]

jobs:
  check_commit:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.after }}  # for PR avoids checking out merge commit
        fetch-depth: 0  # include all history

    - name: Run script to validate commits for both pull request and a push
      env:
        GITHUB_PR_COMMITS_URL: ${{ github.event.pull_request.commits_url }}
        GITHUB_USER: ${{ github.event.pull_request.user.login }}
        START_COMMIT: ${{ github.event.before }}
        END_COMMIT: ${{ github.event.after }}
      run: |
        curl https://raw.githubusercontent.com/ansible/galaxy_ng/master/.ci/scripts/validate_commit_message_custom.py | python

    - name: "parse issue number"
      if: ${{ failure() }}
      run: |
        ISSUE=`gh pr view ${{github.event.number}} | grep AAH- | sed 's/^.*\<AAH-\([0-9]\+\).*$/\1/'`
        echo "ISSUE=${ISSUE}" >> $GITHUB_ENV

    - name: "commit No-Issue | Fixes + CHANGES"
      if: ${{ failure() }}
      run: |
        if [ -n "$ISSUE" ]; then
          mkdir -p CHANGES
          gh pr view ${{github.event.number}} --json title --jq .title > CHANGES/"$ISSUE".misc
          git add CHANGES
          git commit -m "Fixes: AAH-$ISSUE"
        else
          git commit --allow-empty -m "No-Issue"
        fi
        git push

  pr-checks:
    runs-on: ubuntu-latest
    steps:

    - name: "Checkout ansible-hub-ui (${{ github.ref }})"
      uses: actions/checkout@v2

    - name: "Install node 14"
      uses: actions/setup-node@v2
      with:
        node-version: '14'
        cache: 'npm'

    - name: "Checks"
      run: |
        # fail if npm install had to change package-lock.json
        npm install
        git diff --exit-code package-lock.json

        # same in test/
        pushd test/
        npm install
        git diff --exit-code package-lock.json
        popd

        # dependencies
        pip install lint-po

        # run linters
        npm run lint

  merge-commits:
    runs-on: ubuntu-latest
    steps:

    # need to checkout out head, the merge commit won't have any merges in history
    # also need more than 1 commit, assuming no PR will have more than 128
    - name: "Checkout ansible-hub-ui HEAD"
      uses: actions/checkout@v2
      with:
        fetch-depth: 128
        ref: ${{ github.event.pull_request.head.sha }}

    - name: "Ensure no merge commits"
      run: |
        # fail on merge commits in the PR
        # since squash&merge doesn't create merge commits,
        # and the last non-squash merges were in Jul 2019,
        # we can just look for any merge commits since 2020
        count=`git log --min-parents=2 --since 2020-01-01 | tee /dev/stderr | wc -l`
        [ "$count" = 0 ]
