name: "Stable release from stable-4.2"

# creating a release creates a tag as well; this expects the release to exist
on:
  push:
    tags:
    - '[0-9]+.[0-9]+.**'
    - '!dev'
    - '!**cloud**'

jobs:
  stable:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=4096 --max_old_space_size=4096"

    steps:

    - name: "Checkout ansible-hub-ui (${{ github.ref }})"
      uses: actions/checkout@v2

    - name: "Set RELEASE_TAG"
      run: |
        RELEASE_TAG=`sed 's/^refs\/tags\///' <<< $GITHUB_REF`
        echo "RELEASE_TAG=${RELEASE_TAG}" >> $GITHUB_ENV

    - name: "Install node 14"
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: "Cache ~/.npm"
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ env.GITHUB_REF }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-${{ env.GITHUB_REF }}-
          ${{ runner.os }}-node-

    - name: "Build a tarball"
      run: |
        npm ci || npm install
        npm run build-standalone
        tar -C dist/ -czvf automation-hub-ui-dist.tar.gz .

    - name: "Release"
      run: |
        gh release upload "$RELEASE_TAG" "$RELEASE_FILE" --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RELEASE_FILE: 'automation-hub-ui-dist.tar.gz'
